<div class="music-refs">
    <div class="refs">
        <div class="ref-item first" data-service="vk">
            <input type="radio" id="musicref1" name="radio" /> 
            <label for="musicref1">
                <div class="svg">
                    {% include 'articles/service_icons/vk.html' %}
                </div>
            </label>
        </div>
        <div class="ref-item" data-service="yandex">
            <input type="radio" id="musicref2" name="radio" />
            <label for="musicref2">
                <div class="svg">
                    {% include 'articles/service_icons/yandex.html' %}
                </div>
            </label>   
        </div>
        <div class="ref-item" data-service="spotify">
            <input type="radio" id="musicref3" name="radio" />
            <label for="musicref3">
                <div class="svg">
                    {% include 'articles/service_icons/spotify.html' %}
                </div>
            </label>
        </div>
        <div class="ref-item" data-service="apple">
            <input type="radio" id="musicref4" name="radio" />
            <label for="musicref4">
                <div class="svg">
                    {% include 'articles/service_icons/apple.html' %}
                </div>
            </label>
        </div>
        <div class="ref-item" data-service="youtube">
            <input type="radio" id="musicref5" name="radio" />
            <label for="musicref5">
                <div class="svg">
                    {% include 'articles/service_icons/youtube.html' %}
                </div>
            </label>
        </div>
        <div class="ref-item last" data-service="deezer">
            <input type="radio" id="musicref6" name="radio" />
            <label for="musicref6">
                <div class="svg">
                    {% include 'articles/service_icons/deezer.html' %}
                </div>
            </label>
        </div>
    </div>
    <div class="music-slider"></div>
</div>