<div class="music-refs">
    <div class="refs">
        <div class="ref-item first" data-service="vk">
            <input type="radio" id="1" name="radio" /> 
            <label for="1">
                <div class="svg">
                    {% include 'articles/service_icons/vk.html' %}
                </div>
            </label>
        </div>
        <div class="ref-item" data-service="yandex">
            <input type="radio" id="2" name="radio" />
            <label for="2">
                <div class="svg">
                    {% include 'articles/service_icons/yandex.html' %}
                </div>
            </label>   
        </div>
        <div class="ref-item" data-service="spotify">
            <input type="radio" id="3" name="radio" />
            <label for="3">
                <div class="svg">
                    {% include 'articles/service_icons/spotify.html' %}
                </div>
            </label>
        </div>
        <div class="ref-item" data-service="apple">
            <input type="radio" id="4" name="radio" />
            <label for="4">
                <div class="svg">
                    {% include 'articles/service_icons/apple.html' %}
                </div>
            </label>
        </div>
        <div class="ref-item" data-service="youtube">
            <input type="radio" id="5" name="radio" />
            <label for="5">
                <div class="svg">
                    {% include 'articles/service_icons/youtube.html' %}
                </div>
            </label>
        </div>
        <div class="ref-item last" data-service="deezer">
            <input type="radio" id="6" name="radio" />
            <label for="6">
                <div class="svg">
                    {% include 'articles/service_icons/deezer.html' %}
                </div>
            </label>
        </div>
       <div class="music-slider"></div>
    </div>
</div>