musical_donut

__pycache__
*.bak
*.pyc

.env
.vscode

*.sqlite3

migrations

*.css.map

*/media/*
!*/media/default
!*/media/site

staticfiles/
static/

node_modules/
package-lock.json
**/assets/bundles/**