<div class="share-item">
    <a class="copy" id="copy-link">
        <input type="text" value="{{ page.full_url }}">
        <span class="icon">{% include 'additions/icons/articles/copy.html' %}</span> <span class="text">Копировать ссылку</span>
    </a>
</div>
<div class="share-item">
    <a class="link-vk" href="#">
        <span class="icon">{% include 'additions/icons/articles/vk.html' %}</span> ВКонтакте
    </a>
</div>
<div class="share-item">
    <a class="link-telegram" href="#">
        <span class="icon">{% include 'additions/icons/articles/telegram.html' %}</span> Телеграм
    </a>
</div>