html, body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0; }

*, ::after, ::before {
  box-sizing: border-box; }

html {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

blockquote {
  font-style: italic;
  line-height: 1.5em; }

body.hidden {
  overflow-y: hidden; }

.img-fullsize__wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .img-fullsize__wrapper .img-fullsize__inner {
    height: 85%;
    margin: 1rem;
    position: relative; }
    .img-fullsize__wrapper .img-fullsize__inner img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
    .img-fullsize__wrapper .img-fullsize__inner .cross {
      position: absolute;
      right: 0;
      top: 0;
      width: 2em;
      height: 2em;
      opacity: 0.3;
      transform: translate(100%, -100%);
      cursor: pointer; }
      .img-fullsize__wrapper .img-fullsize__inner .cross:hover {
        opacity: 1; }
      .img-fullsize__wrapper .img-fullsize__inner .cross::before, .img-fullsize__wrapper .img-fullsize__inner .cross::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 5px;
        background-color: #000;
        top: 50%;
        left: 0;
        border-radius: 5px; }
      .img-fullsize__wrapper .img-fullsize__inner .cross::before {
        transform: rotate(45deg); }
      .img-fullsize__wrapper .img-fullsize__inner .cross::after {
        transform: rotate(-45deg); }
  @media (max-width: 800px) {
    .img-fullsize__wrapper .img-fullsize__inner {
      height: auto;
      width: 100%;
      margin: 0; }
      .img-fullsize__wrapper .img-fullsize__inner .cross {
        transform: translate(0, -100%); } }
#wrapper {
  max-width: 1200px;
  margin: 0 auto; }

#header {
  position: fixed;
  top: 0;
  height: 5em;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column; }
  #header > * {
    flex-grow: 1; }
  #header .header__info {
    display: flex;
    padding: 0.5em 0; }
    #header .header__info > * {
      margin: 0 0.5em; }
    #header .header__info .header-name {
      flex-grow: 1;
      text-align: center;
      padding: 0.2em 1em; }
    #header .header__info .search {
      max-width: 70%; }
      #header .header__info .search .search-form {
        position: relative;
        vertical-align: middle;
        white-space: nowrap;
        font-size: 26px; }
        #header .header__info .search .search-form input {
          width: 40px;
          height: 40px;
          background-color: #666;
          border: none;
          border-radius: 10px;
          padding-left: 40px;
          color: #fff;
          font-size: 0.6em;
          transition: all .5s ease; }
          #header .header__info .search .search-form input::-moz-placeholder {
            color: #fff; }
        #header .header__info .search .search-form span {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          color: #444;
          font-size: 0.8em;
          z-index: 1; }
        #header .header__info .search .search-form button {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          border: none;
          background-color: transparent;
          cursor: pointer; }
          #header .header__info .search .search-form button:disabled {
            opacity: 0;
            visibility: hidden; }
          #header .header__info .search .search-form button i {
            font-size: 2em;
            width: 100%; }
        #header .header__info .search .search-form:hover input, #header .header__info .search .search-form input:focus, #header .header__info .search .search-form input:active {
          padding-right: 40px;
          width: 15em;
          outline: none; }
  #header .header__sections {
    display: flex;
    justify-content: center; }
    #header .header__sections > * {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      position: relative;
      overflow: hidden; }
      #header .header__sections > * .section-name {
        position: relative; }
      #header .header__sections > *::before {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 0;
        left: 0;
        bottom: 0;
        transition: height .2s ease; }
      #header .header__sections > *:nth-child(1)::before {
        background-color: violet; }
      #header .header__sections > *:nth-child(2)::before {
        background-color: yellow; }
      #header .header__sections > *:hover::before, #header .header__sections > *.active::before {
        height: 100%; }

#content {
  max-width: 100%;
  margin: 5em 0.8em 0.8em;
  padding: 1rem 0; }
  #content .article-card {
    position: relative;
    margin: 0.5rem 0.3rem; }
    #content .article-card .article-img {
      position: relative; }
      #content .article-card .article-img::before {
        content: "";
        display: inline-block;
        padding-top: 100%; }
      #content .article-card .article-img img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%; }
    #content .article-card .article-cover {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: rgba(255, 252, 51, 0.5); }
      #content .article-card .article-cover > * {
        width: 100%;
        text-align: center;
        padding: 0.5rem 0; }
  #content .content__first .last-article {
    max-width: 70%; }
  #content .content__second, #content .content__section {
    display: flex;
    flex-wrap: wrap; }
    #content .content__second .article-card, #content .content__section .article-card {
      width: 33.33333%; }
  #content .article {
    position: relative; }
    #content .article .subdivision .center {
      max-width: 100%;
      height: auto; }
      #content .article .subdivision .center img {
        max-width: 800px; }
    #content .article .subdivision .left, #content .article .subdivision .right {
      max-width: 50%;
      margin-top: 0;
      margin-bottom: 1.5rem; }
    #content .article .subdivision img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
    #content .article .subdivision .left {
      float: left;
      margin-right: 1.5rem; }
    #content .article .subdivision .right {
      float: right;
      margin-left: 1.5rem; }
    #content .article .subdivision .img-cover {
      margin: 0 auto;
      position: relative; }
      #content .article .subdivision .img-cover .caption {
        padding: 0.5rem 0;
        text-align: center;
        font-style: italic;
        color: #555; }
    #content .article .subdivision .img-cover.slider {
      overflow: hidden; }
      #content .article .subdivision .img-cover.slider:hover a, #content .article .subdivision .img-cover.slider:hover .info {
        opacity: 1;
        visibility: visible; }
      #content .article .subdivision .img-cover.slider .info {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 0.7em;
        padding: 0.3em 0.4em;
        border-radius: 5px;
        color: #fff;
        opacity: 0;
        transition: all .3s; }
      #content .article .subdivision .img-cover.slider a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2em;
        height: 3em;
        cursor: pointer;
        z-index: 10;
        transition: all .3s;
        opacity: 0;
        visibility: hidden; }
        #content .article .subdivision .img-cover.slider a.prev {
          left: 0; }
          #content .article .subdivision .img-cover.slider a.prev::before, #content .article .subdivision .img-cover.slider a.prev::after {
            left: 50%; }
          #content .article .subdivision .img-cover.slider a.prev::before {
            top: 15%;
            transform: rotate(35deg); }
          #content .article .subdivision .img-cover.slider a.prev::after {
            bottom: 15%;
            transform: rotate(-35deg); }
        #content .article .subdivision .img-cover.slider a.next {
          right: 0em; }
          #content .article .subdivision .img-cover.slider a.next::before, #content .article .subdivision .img-cover.slider a.next::after {
            right: 50%; }
          #content .article .subdivision .img-cover.slider a.next::before {
            top: 15%;
            transform: rotate(145deg); }
          #content .article .subdivision .img-cover.slider a.next::after {
            bottom: 15%;
            transform: rotate(-145deg); }
        #content .article .subdivision .img-cover.slider a::before, #content .article .subdivision .img-cover.slider a::after {
          position: absolute;
          content: "";
          height: 40%;
          width: 5px;
          background-color: #fff;
          border: solid black;
          border-width: 1px; }
        #content .article .subdivision .img-cover.slider a:hover {
          background-color: rgba(0, 0, 0, 0.5); }
      #content .article .subdivision .img-cover.slider .slider-cover {
        height: 800px;
        position: relative;
        display: flex;
        justify-content: center; }
        #content .article .subdivision .img-cover.slider .slider-cover img {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          margin: 0 auto;
          transition: all .3s; }
          #content .article .subdivision .img-cover.slider .slider-cover img.active {
            position: static;
            opacity: 1;
            visibility: visible; }
          #content .article .subdivision .img-cover.slider .slider-cover img.anim-left {
            left: -100%; }
          #content .article .subdivision .img-cover.slider .slider-cover img.anim-right {
            left: 100%; }
        @media (max-width: 800px) {
          #content .article .subdivision .img-cover.slider .slider-cover {
            height: 700px; } }
        @media (max-width: 700px) {
          #content .article .subdivision .img-cover.slider .slider-cover {
            height: 600px; } }
        @media (max-width: 600px) {
          #content .article .subdivision .img-cover.slider .slider-cover {
            height: 500px; } }
        @media (max-width: 500px) {
          #content .article .subdivision .img-cover.slider .slider-cover {
            height: 400px; } }
        @media (max-width: 400px) {
          #content .article .subdivision .img-cover.slider .slider-cover {
            height: auto; } }
    #content .article .subdivision blockquote.decoration {
      display: inline-block;
      margin-left: 0;
      padding-left: 40px;
      border-left: 3px solid #555; }
    #content .article .song__refs {
      width: 100%;
      display: flex; }
      #content .article .song__refs .song__container {
        width: 80%;
        min-height: 200px; }
        #content .article .song__refs .song__container.playlist {
          min-height: 500px; }
          #content .article .song__refs .song__container.playlist .song {
            max-height: 500px; }
        #content .article .song__refs .song__container .song {
          max-height: 200px;
          display: none;
          margin: 0;
          padding: 0; }
          #content .article .song__refs .song__container .song iframe {
            max-width: none !important; }
        #content .article .song__refs .song__container .song.active {
          display: block; }
      #content .article .song__refs .song__info {
        width: 20%;
        font-size: 40px;
        position: relative;
        cursor: pointer; }
        #content .article .song__refs .song__info .settings {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all .2s; }
        #content .article .song__refs .song__info:hover .settings {
          left: 10%;
          transform: translate(0, -50%); }
    #content .article .music-refs {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      opacity: 0;
      visibility: hidden;
      transition: all .3s;
      cursor: pointer; }
      #content .article .music-refs.active {
        visibility: visible;
        opacity: 1; }
      #content .article .music-refs .music-slider {
        position: absolute;
        top: 0;
        left: calc(2rem + 50px);
        width: 60px;
        height: 60px;
        border: 15px solid transparent;
        border-radius: 50%;
        background-color: #e2581d;
        background-clip: padding-box;
        transition: all .1s;
        box-shadow: inset 0px 3px 5px 3px rgba(0, 0, 0, 0.5); }
        #content .article .music-refs .music-slider.active {
          transition: none; }
      #content .article .music-refs .refs input {
        position: absolute;
        z-index: -1;
        opacity: 0; }
      #content .article .music-refs .refs label {
        display: inline-flex;
        align-items: center;
        padding-right: 0.5rem;
        height: 60px;
        cursor: pointer; }
        #content .article .music-refs .refs label .svg {
          height: 60px;
          padding: 5px 1rem; }
        #content .article .music-refs .refs label::after {
          content: "";
          display: inline-block;
          width: 60px;
          height: 100%;
          border: solid #ffad00;
          border-width: 0 12px;
          background-color: #e2581d;
          background-clip: padding-box; }
      #content .article .music-refs .refs .ref-item.first label::after {
        border-width: 12px 12px 0 12px;
        border-radius: 50% 50% 0 0; }
      #content .article .music-refs .refs .ref-item.last label::after {
        border-width: 0 12px 12px 12px;
        border-radius: 0 0 50% 50%; }
      #content .article .music-refs .refs .ref-item {
        height: 60px; }
        #content .article .music-refs .refs .ref-item path, #content .article .music-refs .refs .ref-item circle {
          filter: grayscale(100%); }
        #content .article .music-refs .refs .ref-item:hover path, #content .article .music-refs .refs .ref-item:hover circle, #content .article .music-refs .refs .ref-item input:checked + label path, #content .article .music-refs .refs .ref-item input:checked + label circle {
          filter: none; }
        #content .article .music-refs .refs .ref-item.hidden {
          display: none; }

/*# sourceMappingURL=style.css.map */