@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$fontFamily: 'Comfortaa', cursive;
$fontFamilyForText: 'Roboto', Arial, Helvetica, sans-serif;

$headerInfoHeight: 3.5rem;

$headerSectionsHeight: 4rem;

$headerHeigth: $headerInfoHeight + $headerSectionsHeight;

$contentWidth: 1200px;

$articleContentWidth: 1000px;

$articleImgWidth: 800px;

$borderRadiusDefault: 20px;


// MEDIA WIDTH

$widthXXS: 479px;
$widthXS: 575px;
$widthSM: 767px;
$widthMD: 991px;
$widthLG: 1199px;


// Colors

$colorWhite: #fff;
$colorBlack: #000;
$colorBrightGray: #eee;
$colorGray: #666;
$colorLightGray: #aaa;
$colorPurple: #be156e;
$colorPurpleHover: #971058;
$colorLightBeige: #f4e7e1;
$colorYellow: rgb(211, 208, 43);
$colorDarkYellow: rgb(179, 176, 38);
$colorVioletDefault: violet;
$colorYellowDefault: yellow;
$colorLightBeigeShadow: #cec3be;
$colorLightBeigeShadowDark: #b1a7a3;


// Colors for sections

$colorSection1: rgb(177, 125, 177);
$colorSection2: rgb(235, 163, 235);
$colorSection3: rgb(235, 163, 235);


$boxShadowArticleCover: 
    1px 0px 0px $colorLightBeigeShadow, 0px 1px 0px $colorLightBeigeShadowDark,
    2px 1px 0px $colorLightBeigeShadow, 1px 2px 0px $colorLightBeigeShadowDark,
    3px 2px 0px $colorLightBeigeShadow, 2px 3px 0px $colorLightBeigeShadowDark,
    4px 3px 0px $colorLightBeigeShadow, 3px 4px 0px $colorLightBeigeShadowDark,
    5px 4px 0px $colorLightBeigeShadow, 4px 5px 0px $colorLightBeigeShadowDark;

$boxShadowArticleCard: 0 2px 8px rgba(163, 163, 163, 0.3), 
    0 4px 32px rgba(163, 163, 163, 0.4);