$headerHeigth: 5em;

$contentWidth: 1200px;

$articleImgWidth: 800px;

$boxShadowArticleCover: 1px 0px 0px rgb(211, 208, 43), 0px 1px 0px rgb(179, 176, 38),
    2px 1px 0px rgb(211, 208, 43), 1px 2px 0px rgb(179, 176, 38),
    3px 2px 0px rgb(211, 208, 43), 2px 3px 0px rgb(179, 176, 38),
    4px 3px 0px rgb(211, 208, 43), 3px 4px 0px rgb(179, 176, 38),
    5px 4px 0px rgb(211, 208, 43), 4px 5px 0px rgb(179, 176, 38);