.article {
    font-family: $fontFamilyForText;

    .article-section {
        font-family: $fontFamily;
    }

    .subdivision {
        padding-top: 1px;
        clear: both;

        .song__data {
            margin: 2rem 0 1.5rem;
        }

        p {
            line-height: 1.5;
        }
    }
}

.article-card .name {
    font-family: $fontFamilyForText;
    letter-spacing: 0.01em;
}