.content__above-articles {
    padding: 0.5em;
}

.control-buttons {
    display: flex;
    justify-content: space-between;
    font-size: 1em;

    & > * {
        padding: 0 0.5em;
    }

    .stylized-button {
        margin: 0.5em 0 !important;
    }

    .button {
        transition: all .1s linear;

        &:hover {
            box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(255, 187, 41);
        }

        &:active {
            background-color: rgba(200, 149, 36, 0.3);
        }
    }

    .items__container {
        background-color: rgb(228, 228, 228);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    label {
        position: relative;
        font-size: 1em;
        cursor: pointer;

        input {
            position: absolute;
            z-index: -1;
            width: 0;
            height: 0;
            opacity: 0;
        }

        div {
            transition: all .05s linear;
            padding: 0.5em 1em;

            &:hover {
                color: #666;
            }
        }

        input:checked + div {
            background-color: rgba(194, 194, 194, 0.5);
        }
    }

    .button-sorting {
        position: relative;

        .button__container {
            position: relative;
            display: inline-block;
        }

        .sorting {  

            .sorting-cover {

                span svg {
                    height: 1em !important;
                }
            }
        }

        .sorting-items {
            position: absolute;
            top: 100%;
            left: 0;
            padding: 0.5em;
            z-index: 5;
            white-space: nowrap;
            user-select: none;

            .sorting-item {
                padding: 0.2em 0;
                cursor: pointer;

                &:hover {
                    color: #666;
                }
            }
        }
    }

    .button-filters {

        .filter-items {
            position: fixed;
            bottom: -100%;
            height: 80%;
            right: 0;
            transform: translateX(100%);
            width: 400px;
            background-color: rgb(228, 228, 228);
            transition: transform .3s ease-out, 
                visibility .1s linear .1s, 
                opacity .1s linear .1s, 
                bottom .1s linear .3s;
            opacity: 0;
            visibility: hidden;
            cursor: default;
            z-index: 999;
            overflow: auto;

            .filter-items__wrapper {
                padding: 0.5em 2em;

                .name {
                    padding: 0.3em 0.5em;
                    font-weight: 800;
                    font-size: 2em;
                    text-align: center;
                }

                .filter-control-buttons {

                    & > * {
                        user-select: none;
                        margin: 1em 0;
                        cursor: pointer;
                    }

                    .filter-clear {
                        margin: 0 auto;
                        color: rgb(112, 112, 78);
                        padding: 0.5em;
                        background-color: rgba(218, 218, 189, 0.5);
                        border-radius: 10px;

                        span {
                            padding-left: 1em;
                        }

                        &:hover {
                            color: rgb(151, 151, 104);
                        }

                        &:active {
                            color: rgb(65, 65, 45);
                        }
                    }
                    
                    .list-button {
                        
                        .list-button-name {
                            display: flex;
                            justify-content: space-between;
                            font-size: 1.4em;
                            font-weight: 500;
                            padding: 0.25em;

                            & + * {
                                max-height: 0;
                                transition: all .2s ease-in-out;
                                overflow: hidden;
                                
                                .filter-item {

                                    span {
                                        padding-left: 1em;
                                        font-size: 0.8em;
                                    }
                                }
                            }

                            .list-button-name__icon {
                                transform: rotate(-90deg);
                                transition: transform .1s linear;
                            }

                            &.active .list-button-name__icon {
                                transform: rotate(0);
                            }
                        }
                    }
                }
            }
        }

        .filter-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 998;
            background-color: #000;
            opacity: 0.3;
            display: none;
        }

        &.active {

            .filter-items {
                transition: bottom .3s ease-out, 
                    visibility .1s linear, 
                    opacity .1s linear;
                transform: translateX(0);
                bottom: 0;
                opacity: 1;
                visibility: visible;
            }

            .filter-background {
                display: block;
            }
        }
    }

    @media (max-width: $widthXXS) {
        .filter-cover .filter-text {
            display: none;
        }
    }
}

.selected-filters {
    font-size: 0.8em;
    
    .selected-filter-item {
        display: inline-block;
        padding: 0.5em;
        margin: 0.75em 0.25em;
        background-color: rgba(194, 194, 194, 0.5);
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            color: #666;
        }

        &:hover path {
            fill: #666;
        }

        span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
        }

        svg {
            display: block;
        }
    }
}