@import './variables.scss';
@import './footer.scss';
@import './header.scss';
@import './article.scss';
@import './popup.scss';
@import './control-buttons.scss';
@import './preloader.scss';


html, body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-size: $fontSize;
    font-family: $fontFamily;
    font-weight: 500;
    line-height: 1.1;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent; 
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
}

blockquote {
    font-style: italic;
    line-height: 1.2em;
}

button {
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: block;
}

body.hidden {
    overflow-y: hidden;
}

#wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    display: block;
}

@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

@mixin hover-supported-without-hover {
    @media not all and (pointer: coarse) {
        & {
            @content;
        }
    }
}

@mixin anim-upwards {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
    transition: opacity .2s ease-out, 
        visibility .2s ease-out, 
        transform .2s ease-out;

    &:hover {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    @include hover-supported-without-hover() {
        &.active  {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}

.anim-upwards {
    @include anim-upwards;
}


.button__container:hover .sorting-items {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.header-content, .footer-content, .footer-top-links, .header-sections__content {
    margin: 0 auto;
    max-width: $contentWidth;
}

.search-button {
    color: $colorGray;
    display: flex;
    align-items: center;
    padding: 0 0.5em;

    .search-button-link {
        padding: 0.3em;
        border-radius: 10px;
        background-color: $colorLightBeige;
        line-height: 1em;
        border: 2px solid $colorBlack;

        i {
            font-size: 1.25em;
        }
    }
}

.stylized-button {
    padding: 0.25em 0.2em;
    margin: 0.5em 0;
    border: 2px solid black;
    border-radius: $borderRadiusDefault / 2;
    box-shadow: 7px 7px $colorLightBeige;
    transition: box-shadow .1s linear, background-color .2s ease-out;
    
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        box-shadow: 0 0 0 2px $colorWhite, 0 0 0 4px $colorPurple;
        background-color: #f4e7e150;
    }
}


#content {
    width: $contentWidth;
    margin: $headerInfoHeight 0 0;
    padding: 1rem 0.5em;
    flex: 1 0 auto;

    .article-card__wrapper {
        padding: 0.5rem 0.3rem;
        font-size: 1em;
        line-height: 1em;

        .article-card {
            position: relative;
            cursor: pointer;
            box-shadow: $boxShadowArticleCard;
            transition: border-radius .2s ease;

            &, .article-img, .article-cover, .article-info .info {
                border-radius: $borderRadiusDefault;
            }

            .article-img {
                position: relative;
                transition: border-radius .2s ease;
                padding-top: 56.25%;
                overflow: hidden;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                 
                img {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                    transform: translateY(-50%);
                }    
            }
    
            .article-cover {
                transform: translate(0, 0);
                width: 100%;
                left: 0;
                bottom: 0;
                font-size: 0.9em;
                background-color: $colorLightBeige;
                transition: transform .2s ease-out, box-shadow .1s ease-out .1s;
                border-top-left-radius: 0;
                border-top-right-radius: 0;

                .section {
                    width: 100%;
                    text-align: center;
                    font-size: 1.2em;
                    color: $colorPurple;
                    padding: 0.4em 0;
                    background-color: $colorLightBeige;
                    transition: transform .2s ease-in, color .05s linear;

                    &:hover {
                        color: $colorPurpleHover;
                    }
                }
    
                .name {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 0.5em;
                    height: 1.1 * 1rem * 4;
                    min-height: 1.1 * 1rem * 4;
                    overflow: hidden;

                    .full-name {
                        display: none;
                    }
                }
            }
    
            .article-info {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                transform: translateY(0);
                transition: transform .2s ease-out;
    
                .info {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    border: 2px solid transparent;
                    border-bottom: 0;
                    transition: background-color .1s ease-out, 
                        border-color .2s ease-out,
                        box-shadow .2s ease-out; 
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
    
                    & > * {
                        margin: 0.5em;
                        padding: 0.5em 1em;
                        border-radius: $borderRadiusDefault;
                        background-color: rgba(255, 255, 255, 0.5);
                    }
        
                    .number {
                        padding: 0.3em 1em;
                        font-size: 1.2em;
                        transition: all .2s ease;
                    }
                }
            }

            &, .article-info, .article-img, .article-info .info {
                transition-delay: .3s;
            }
    
            .song-preview {
                width: 100%;
                color: #fff;
                overflow: hidden;
                font-size: calc(1em - 2px);
    
                .song-preview__info {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
    
                    & > * {
                        line-height: 1;
                        padding: 0.25em 0.5em;
                        background-color: rgba(0, 0, 0, 0.6);
                        width: 50%;
                        transition: transform .3s ease-out;
                    }

                    &:first-child {
                        & > * {
                            padding-top: 0.5em;
                        }
                    }
    
                    .singer {
                        transform: translate(-100%, 0);
                    }
    
                    .song {
                        transform: translate(100%, 0);
                        text-align: right;
                    }
                }
            }
            
            @mixin articleCardHover {
                border-top-left-radius: 0;
                border-top-right-radius: 0;

                &, .article-info, .article-img, .article-info .info {
                    transition-delay: 0s !important;
                }

                .article-img {
                    border-radius: 0;
                }
                
                .article-info {
                    transform: translateY(-3em);

                    .info {
                        background-color: $colorLightBeige;
                        border-color: $colorPurple;
                        box-shadow: inset 0px 3px 10px rgba(163, 163, 163, 0.2), 
                            $boxShadowArticleCard,
                            0 0 0 5px transparent;
                    }
                }
    
                .song-preview {
                    .song-preview__info > * {
                        transform: translate(0, 0);
                    }
                    @for $i from 1 to 10 {
                        .song-preview__info:nth-child(#{$i}) > * {
                            transition-delay: ($i - 1) * 0.15s + 0.2s;
                        }
                    }
                }
    
                .article-img {
                    filter: brightness(60%);
                }
    
                .number {
                    background-color: #fff;
                }
    
                .article-cover {
                    transform: translate(-5px, -5px);
                    box-shadow: $boxShadowArticleCover;
                    transition-delay: 0s, 0s ;

                    .name {

                        &.short-name {
                            height: auto !important;
                        }

                        .full-name  {
                            display: inline;
                        }

                        span:not([class]) {
                            display: none;
                        }
                    }
                }
            }

            @include hover-supported() {
                @include articleCardHover;
            }

            &.touch {
                @include articleCardHover;
            }
        }
    }

    @media (max-width: $contentWidth) {
        & {
            width: auto;
            align-self: normal;
        }
    }

    @media (max-width: 800px) {

        .article .center, .left, .right {
            margin: 0 -0.5em !important;
        }

        .left, .right {
            float: none !important;
            max-width: $articleImgWidth !important;
        }
    }

    @media (max-width: $widthSM) {
        .article-card {

            .song-preview__info > * {
                padding: 8px !important;
            }
        }
    }

    .content-header {

        .content-header-text-top {
            padding: 0.5em;
            text-align: center;
            font-size: 1.5rem;

            .text {
                display: inline-flex;
                text-transform: uppercase;

                .text-left {
                    display: flex;
                    flex-direction: column;

                    .word-1 {
                        font-size: 1.2em;
                        font-weight: 700;
                    }

                    .word-2 {
                        font-size: 1.1em;
                        font-weight: 600;
                        align-self: flex-end;
                    }
                }

                .text-right {
                    display: flex;
                    
                    .word-1 {
                        text-align: center;
                        transform: rotate(180deg);
                        writing-mode: vertical-lr;
                    }

                    .word-2 {
                        font-weight: 800;
                        display: flex;
                        align-self: center;
                    }
                }
            }
        }

        .content-header-background {
            position: relative;
            
            img, source {
                border-radius: 20px 20px 0 0;
                display: block;
                width: 100%;
                height: auto;
            }

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: transparent;
                background-image: linear-gradient(
                    0deg, 
                    rgba(255,255,255,0) 75%, 
                    rgba(66, 66, 66, 0.5) 95%, 
                    rgba(0,0,0,0.5) 100%);
                opacity: 0.3;
                border-radius: 20px 20px 0 0;
            }
        }

        .content-header-container {
            display: flex;
            flex-wrap: wrap;
            padding: 0 0 0.5em;

            & > * {
                padding: 0.5rem;
            }

            .content-header-text-bottom {
                width: 100%;
                padding: 0.5em 0.2em 1em;
                text-align: center;
                background: linear-gradient(0deg, rgba(255,255,255,0.8743698162858894) 0%, rgba(239,208,191,1) 100%, rgba(6,50,55,0.9275911048012955) 100%);
    
                .content-header-text-bottom__container {
                    display: flex;
                    border-radius: 20px;
                    border: 2px solid $colorBlack;
                    background-color: $colorBrightGray;
                    height: $headerSectionsHeight;
                }

                .content-header-text-bottom__container-mobile {
                    display: none;
                    padding: 0.5em;

                    .header-sections__mobile {
                        text-align: left;

                        .header-sections__content {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;

                            .stylized-button {
                                font-size: 1.15em;
                            }
                        }
                    }
                }
                
                .text {
                    color: #fff;
                    display: inline-block;
                    font-weight: 600;
                    padding: 0.5em 1em;
                    border-radius: 15px;
                    font-style: italic;
                    background-color: rgba(194, 194, 194, 0.2);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    text-shadow: 1px 0 1px #000,
                        0 1px 1px #000, 
                        -1px 0 1px #000, 
                        0 -1px 1px #000;
                }

                @media (max-width: $widthXS) {
                    font-size: 16px;
                }
            }

            .last-article {
                width: 70%;
                font-size: calc(1em + 1px);
    
                .song-preview .song-preview__info {
                    &:first-child > * {
                        padding-top: 0.75em;
                    }

                    & > * {
                        padding: 0.5em 0.75em;
                    }
                } 
            }

            .musical-playlist {
                min-width: 30%;
                height: 300px;
                background: yellow;
            }
    
            @media (max-width: $widthLG) {
                .last-article {
                    max-width: 60%;
                }
                .musical-playlist {
                    max-width: 40%;
                }
            }
    
            @media (max-width: $widthSM) {
                & {
                    padding-top: 0.5em;
                }
                .last-article {
                    max-width: none;
                    flex-grow: 1;
                    font-size: 1em;
                    order: 2;
                }
                .content-header-text-bottom, .musical-playlist {
                    order: 1;
                    width: 50%;
                }
                .content-header-text-bottom {
                    background: none;
                    padding: 0;
                    
                    .content-header-text-bottom__container {
                        display: none;
                    }
                    .content-header-text-bottom__container-mobile {
                        display: block;
                    }
                }
                .musical-playlist {
                    max-width: none;
                }
            }
        }
    }

    .content__articles {
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 1em;

        .article-card__wrapper {
            width: 33.3%;
        }

        @media (max-width: $widthLG) {
            .article-card__wrapper {
                width: 50%;
            }
        }

        @media (max-width: 800px) {
            .article-card__wrapper {
                width: 100%;
            }
        }
    }


    .article {
        position: relative;
        max-width: 1000px;
        margin: 0 auto;

        .article-section {
            color: $colorPurple;
        }

        .article-name {
            line-height: 1.2em;
        }

        .article-date-release {
            color: $colorLightGray;
        }
            
        .center {
            min-width: 100%;
            height: auto;

            .img-cover {
                max-width: $articleImgWidth;
            }
        }

        .left, .right {
            max-width: 50%;
            margin-top: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .left {
            float: left;
            margin-right: 1.5rem;
        }

        .right {
            float: right;
            margin-left: 1.5rem;
        }

        .img-cover {
            position: relative;

            .caption {
                padding: 0.5rem 0;
                text-align: center;
                font-style: italic;
                color: #555;
            }

            .item-video {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .img-cover.slider {
            overflow: hidden;

            &:hover {
                a, .info {
                    opacity: 1;
                    visibility: visible;
                }
                
            }

            .info {
                position: absolute;
                top: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.5);
                font-size: 0.9em;
                padding: 0.5em 0.3em;
                border-radius: 5px;
                color: #fff;
                opacity: 0;
                transition: opacity .3s;
                z-index: 2;
            }

            a {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 2em;
                height: 3em;
                cursor: pointer;
                z-index: 10;
                transition: opacity .3s;
                opacity: 0;

                &.prev {
                    left: 0;

                    &::before, &::after {
                        left: 50%;
                    }

                    &::before {
                        top: 15%;
                        transform: rotate(35deg);
                    }

                    &::after {
                        bottom: 15%;
                        transform: rotate(-35deg);
                    }
                }

                &.next {
                    right: 0em;

                    &::before, &::after {
                        right: 50%;
                    }

                    &::before {
                        top: 15%;
                        transform: rotate(145deg);
                    }

                    &::after {
                        bottom: 15%;
                        transform: rotate(-145deg);
                    }
                }

                &::before, &::after {
                    position: absolute;
                    content: "";
                    height: 40%;
                    width: 5px;
                    background-color: #fff;
                    border: solid black;
                    border-width: 1px;
                }

                &:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }

            .slider-cover {
                height: $articleImgWidth;
                position: relative;

                .item-img {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity .3s, visibility .3s;

                    &.active {
                        opacity: 1;
                        visibility: visible;
                    }

                    &.anim-left {
                        animation: img-from-left .3s forwards reverse linear;
                    }

                    &.anim-right {
                        animation: img-from-right .3s forwards reverse linear;
                    }

                    @keyframes img-from-left {
                        0% {
                            left: -100%;
                        }
                        100% {
                            left: 0;
                        }
                    }

                    @keyframes img-from-right {
                        0% {
                            right: -100%;
                        }
                        100% {
                            right: 0;
                        }
                    }
                }
            }
        }

        blockquote.decoration {
            display: inline-block;
            margin-left: 0;
            padding-left: 40px;
            border-left: 3px solid #555;
        }

        .song__control {

            .song__control-buttons {
                color: #555;
                overflow: hidden;
                padding: 0.5em;

                a {
                    padding: 0.25em 0.5em;
                    padding-top: 0;
                    transition: all .2s;
                    position: relative;

                    span.text {
                        display: inline-block;
                        opacity: 0;
                        visibility: hidden;
                        transition: all .2s;
                        position: relative;
                        left: -100%;
                    }

                    span.icon {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        padding: 0.25em;
                        transform: translateY(-50%);
                        transition: all .2s linear;
                        border-radius: 50%;
                        line-height: 1em;
                    }

                    &:hover {
                        span.text {
                            left: 0;
                            opacity: 1;
                            visibility: visible;
                        }

                        span.icon {
                            left: 100%;
                            color: #fff;
                            box-shadow: inset 0 0 0 1em rgba(0, 0, 0, 0.5);
                        }
                    }
                }
            }

            &.hidden .song__refs {
                display: none;
            }
        }

        .song__refs {
            width: 100%;
            display: flex;

            .song__container {
                width: 80%;
                min-height: 200px;

                &.playlist {
                    min-height: 500px;

                    .song {
                        max-height: 500px;
                    }
                }

                .song {
                    max-height: 200px;
                    display: none;
                    margin: 0;
                    padding: 0;

                    iframe {
                        max-width: none !important;
                    }
                }

                .song.active {
                    display: block;
                }
            }

            .song__info {
                width: 20%;
                font-size: 40px;
                position: relative;
                cursor: pointer;
                
                .settings {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all .2s;
                }

                &:hover {

                    .settings {
                        left: 10%;
                        transform: translate(0, -50%);
                    }
                }
            }
        }

        .music-refs {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s, visibility .3s;
            cursor: pointer;

            &.active {
                visibility: visible;
                opacity: 1;
            }

            .music-slider {
                position: absolute;
                top: 0;
                left: calc(2rem + 50px);
                width: 60px;
                height: 60px;
                border: 15px solid transparent;
                border-radius: 50%;
                background-color: #e2581d;
                background-clip: padding-box;
                transition: all .1s;
                box-shadow: inset 0px 3px 5px 3px hsla(0, 0%, 0%, 0.50);

                &.active {
                    transition: none;
                }
            }

            .refs {

                input {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }

                label {
                    display: inline-flex;
                    align-items: center;
                    padding-right: 0.5rem;
                    height: 60px;
                    cursor: pointer;

                    .svg {
                        height: 60px;
                        padding: 5px 1rem;
                    }
                    
                    &::after {
                        content: "";
                        display: inline-block;
                        width: 60px;
                        height: 100%;
                        border: solid #ffad00;
                        border-width: 0 12px;
                        background-color: #e2581d;
                        background-clip: padding-box;
                    }
                }

                .ref-item.first {
                    label::after {
                        border-width: 12px 12px 0 12px;
                        border-radius: 50% 50% 0 0;
                    }
                }

                .ref-item.last {
                    label::after {
                        border-width: 0 12px 12px 12px;
                        border-radius: 0 0 50% 50%;
                    }
                }

                .ref-item {
                    height: 60px;

                    path, circle {
                        filter: grayscale(100%)
                    }

                    &:hover, input:checked + label {
                        path, circle {
                            filter: none;
                        }
                    }

                    &.hidden {
                        display: none;
                    }
                }
            }
        }
    }
}