@import './variables.scss';


html, body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

blockquote {
    font-style: italic;
    line-height: 1.5em;
}

button {
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

body.hidden {
    overflow-y: hidden;
}

.img-fullsize__wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .img-fullsize__inner {
        height: 85%;
        margin: 1rem;
        position: relative;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .cross {
            position: absolute;
            right: 0;
            top: 0;
            width: 2em;
            height: 2em;
            opacity: 0.3;
            transform: translate(100%, -100%);
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            &::before, &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 5px;
                background-color: #000;
                top: 50%;
                left: 0;
                border-radius: 5px;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }
    }

    @media(max-width: $articleImgWidth) {
        .img-fullsize__inner {
            height: auto;
            width: 100%;
            margin: 0;

            .cross {
                transform: translate(0, -100%);
            }
        }
    }
}


#wrapper {
    max-width: $contentWidth;
    margin: 0 auto;
}

#header {
    position: fixed;
    top: 0;
    height: $headerHeigth;
    max-width: $contentWidth;
    margin: 0 auto;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;

    & > * {
        flex-grow: 1;
    }

    .header__info {
        display: flex;
        padding: 0.5em 0;

        & > * {
            margin: 0 0.5em;
        }
        
        .header-name {
            flex-grow: 1;
            text-align: center;
            padding: 0.2em 1em;
        }

        .search {
            max-width: 70%;

            .search-form {
                position: relative;
                vertical-align: middle;
                white-space: nowrap;
                font-size: 26px;

                input {
                    width: 40px;
                    height: 40px;
                    background-color: #666;
                    border: none;
                    border-radius: 10px;
                    padding-left: 40px;
                    color: #fff;
                    font-size: 0.6em;
                    transition: all .5s ease;

                    &::-moz-placeholder {
                        color: #fff;
                    }
                }
                
                span {
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translateY(-50%);
                    color: #444;
                    font-size: 0.8em;
                    z-index: 1;
                }

                button {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    border: none;
                    background-color: transparent;
                    cursor: pointer;

                    &:disabled {
                        opacity: 0;
                        visibility: hidden;
                    }

                    i {
                        font-size: 2em;
                        width: 100%;
                    }
                }

                &:hover input, input:focus, input:active {
                    padding-right: 40px;
                    width: 15em;
                    outline: none;
                }
            }
        }
    }

    .header__sections {
        display: flex;
        justify-content: center;

        & > * {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            position: relative;
            overflow: hidden;

            .section-name {
                position: relative;
            }

            &::before {
                position: absolute;
                display: block;
                content: "";
                width: 100%;
                height: 0;
                left: 0;
                bottom: 0;
                transition: height .2s ease;
            }

            &:nth-child(1)::before {
                background-color: violet;
            }

            &:nth-child(2)::before {
                background-color: yellow;
            }

            &:hover::before, &.active::before {
                height: 100%;
            }
        }
    }
}

#content {
    max-width: 100%;
    margin: $headerHeigth 0.8em 0.8em;
    padding: 1rem 0;

    .article-card__wrapper {
        padding: 0.5rem 0.3rem;

        .article-card {
            position: relative;
            cursor: pointer;

            .article-img {
                position: relative;
                transition: all .2s ease;
                padding-top: 56.25%;
                overflow: hidden;
                 
    
    
                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                    transform: translateY(-25%);
                }    
            }
    
            .article-cover {
                transform: translate(0, 0);
                width: 100%;
                left: 0;
                bottom: 0;
                background-color: rgba(255, 252, 51, 0.5);
                font-size: 0.8em;
                line-height: 1.1;
                transition: all .2s ease-out;

                .section {
                    width: 100%;
                    text-align: center;
                    padding: 0.4em 0;
                    transition: all .2s ease-in;
                }
    
                .name {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 0.5em;
                    height: 1.1 * 1rem * 4;
                    min-height: 1.1 * 1rem * 4;
                    overflow: hidden;

                    .full-name {
                        display: none;
                    }
                }
            }
    
            .article-info {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                font-size: 0.8em;
    
                .info {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
    
                    & > * {
                        margin: 0.5rem;
                        padding: 0.5em 1em;
                        border-radius: 20px;
                        background-color: rgba(255, 255, 255, 0.5);
                    }
        
                    .number {
                        padding: 0.3em 1em;
                        font-size: 1.2em;
                        transition: all .2s ease;
        
                        .number-cover {
                            position: relative;
        
                            & > * {
                                position: absolute;
                                transition: all .2s ease;
                            }
        
                            .first {
                                color: rgba(255, 0, 0, 0.5);
                                right: -3px;
                                top: 1px;
                            }
        
                            .second {
                                color: rgba(0, 0, 255, 0.5);
                                right: 3px;
                                top: -1px;
                            }
                        }
                    }
                }
            }
    
            .song-preview {
                width: 100%;
                color: #fff;
                overflow: hidden;
                font-size: 0.8em;
    
                .song-preview__info {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
    
                    & > * {
                        padding: 0.25rem 1em;
                        background-color: rgba(0, 0, 0, 0.6);
                        width: 50%;
                        transition: all .3s ease-out;
                    }
    
                    .singer {
                        transform: translate(-100%, 0);
                    }
    
                    .song {
                        transform: translate(100%, 0);
                        text-align: right;
                    }
                }
            }
    
            &:hover {
    
                .song-preview {
                    .song-preview__info > * {
                        transform: none;
                    }
                    @for $i from 1 to 10 {
                        .song-preview__info:nth-child(#{$i}) > * {
                            transition-delay: ($i - 1) * 0.15s;
                        }
                    }
                }
    
                .article-img {
                    filter: brightness(60%);
                }
    
                .number {
                    background-color: #fff;

                    .number-cover > * {
                        top: 0 !important;
                        right: 0 !important;
                    }
                }
    
                .article-cover {

                    &, .section {
                        background-color: rgb(255, 252, 51);
                        transform: translate(-5px, -5px);
                        box-shadow: $boxShadowArticleCover;
                    }

                    .name {

                        &.short-name {
                            height: auto !important;
                        }

                        .full-name  {
                            display: inline;
                        }

                        span:not([class]) {
                            display: none;
                        }
                    }
                }
            }

        }
    }

    .content__first {

        .article-card__wrapper {
        }

        .last-article {
            max-width: 70%;
            font-size: 1.1rem;

            .song-preview__info > * {
                padding: 0.5rem 1em !important;
            } 
        }
    }

    .content__second {

        .control-buttons {
            display: flex;
            justify-content: space-around;
            padding: 0.5em 0;
            font-size: 0.8em;

            & > * > .button {
                padding: 0.3em 0.5em;
                border: 2px solid rgb(175, 128, 27);
                border-width: 1px 2px 1px 2px;
                border-radius: 10px;
                transition: all .1s linear;
                background-color: rgba(255, 187, 41, 0.3);

                &:hover {
                    box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(255, 187, 41);
                }

                &:active {
                    background-color: rgba(200, 149, 36, 0.3);
                }
            }

            .sorting {  

                .sorting-cover {
                    span svg {
                        height: 1em !important;
                    }
                }
            }

            .button-filters {

                .filters {
                }

                .filter-items {
                    position: fixed;
                    margin-top: 20%;
                    min-height: 80%;
                    top: 100%;
                    right: 0;
                    transform: translateX(100%);
                    width: 33.333%;
                    background-color: rgb(228, 228, 228);
                    transition: transform .3s ease-out, 
                        visibility .1s linear .1s, 
                        opacity .1s linear .1s, 
                        top .1s linear .3s;
                    opacity: 0;
                    visibility: hidden;
                    cursor: default;
                    z-index: 999;

                    .filter-items__wrapper {
                        padding: 0.5em 2em;

                        .name {
                            padding: 0.5em;
                            font-weight: 800;
                            font-size: 2em;
                            text-align: center;
                        }

                        .filter-control-buttons {

                            & > * {
                                user-select: none;
                            }
                            
                            .list-button {
                                cursor: pointer;
                                
                                .list-button-name {
                                    display: flex;
                                    justify-content: space-between;
                                    font-size: 1.4em;
                                    font-weight: 500;

                                    & + * {
                                        max-height: 0;
                                        transition: all .2s ease-in-out;
                                        margin: 0.5em 0;
                                        overflow: hidden;
                                        
                                        .filter-item {
                                            position: relative;
                                            font-size: 1em;
                                            cursor: pointer;

                                            input {
                                                position: absolute;
                                                z-index: -1;
                                                width: 0;
                                                height: 0;
                                                opacity: 0;
                                            }

                                            div {
                                                transition: all .05s linear;
                                                padding: 0.5em 1em;

                                                &:hover {
                                                    color: #666;
                                                }
                                            }

                                            span {
                                                padding-left: 1em;
                                            }

                                            input:checked + div {
                                                background-color: rgba(194, 194, 194, 0.5);
                                            }
                                        }
                                    }

                                    .list-button-name__icon {
                                        transform: rotate(-90deg);
                                        transition: transform .1s linear;
                                    }

                                    &.active .list-button-name__icon {
                                        transform: rotate(0);
                                    }
                                }
                            }
                        }
                    }
                }

                .filter-background {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    z-index: 998;
                    background-color: #000;
                    opacity: 0.3;
                    display: none;
                }

                &.active {

                    .filter-items {
                        transition: top .3s ease-out, 
                            visibility .1s linear, 
                            opacity .1s linear;
                        transform: translateX(0);
                        top: 0;
                        opacity: 1;
                        visibility: visible;
                    }

                    .filter-background {
                        display: block;
                    }
                }
            }
        }
    }

    .content__articles {
        display: flex;
        flex-wrap: wrap;

        .article-card__wrapper {
            width: 33.33333%;
        }

        @media (max-width: 1200px) {
            .article-card__wrapper {
                width: 50%;
            }
        }

        @media (max-width: 800px) {
            .article-card__wrapper {
                width: 100%;
            }
        }
    }


    .article {
        position: relative;

        .article-name {
            font-style: italic;
            position: relative;
            
            &::before, &::after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 80%;
                height: 3px;
                background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
            }

            &::before {
                top: -0.5em;
            }
            
            &::after {
                bottom: -0.5em;
            }
        }

        .subdivision {
            
            .center {
                max-width: 100%;
                height: auto;

                img {
                    max-width: $articleImgWidth;
                }
            }

            .left, .right {
                max-width: 50%;
                margin-top: 0;
                margin-bottom: 1.5rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            .left {
                float: left;
                margin-right: 1.5rem;
            }

            .right {
                float: right;
                margin-left: 1.5rem;
            }

            .img-cover {
                margin: 0 auto;
                position: relative;

                .caption {
                    padding: 0.5rem 0;
                    text-align: center;
                    font-style: italic;
                    color: #555;
                }
            }

            .img-cover.slider {
                overflow: hidden;

                &:hover {
                    a, .info {
                        opacity: 1;
                        visibility: visible;
                    }
                    
                }

                .info {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    font-size: 0.7em;
                    padding: 0.3em 0.4em;
                    border-radius: 5px;
                    color: #fff;
                    opacity: 0;
                    transition: all .3s;
                }

                a {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 2em;
                    height: 3em;
                    cursor: pointer;
                    z-index: 10;
                    transition: all .3s;
                    opacity: 0;
                    visibility: hidden;

                    &.prev {
                        left: 0;

                        &::before, &::after {
                            left: 50%;
                        }

                        &::before {
                            top: 15%;
                            transform: rotate(35deg);
                        }

                        &::after {
                            bottom: 15%;
                            transform: rotate(-35deg);
                        }
                    }

                    &.next {
                        right: 0em;

                        &::before, &::after {
                            right: 50%;
                        }

                        &::before {
                            top: 15%;
                            transform: rotate(145deg);
                        }

                        &::after {
                            bottom: 15%;
                            transform: rotate(-145deg);
                        }
                    }

                    &::before, &::after {
                        position: absolute;
                        content: "";
                        height: 40%;
                        width: 5px;
                        background-color: #fff;
                        border: solid black;
                        border-width: 1px;
                    }

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.5);
                    }
                }

                .slider-cover {
                    height: $articleImgWidth;
                    position: relative;
                    display: flex;
                    justify-content: center;

                    img {
                        opacity: 0;
                        visibility: hidden;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        margin: 0 auto;
                        transition: all .3s;

                        &.active {
                            position: static;
                            opacity: 1;
                            visibility: visible;
                        }

                        &.anim-left {
                            left: -100%;
                        }

                        &.anim-right {
                            left: 100%;
                        }
                    }

                    @media(max-width: 800px) {
                        & {
                            height: 700px;
                        }
                    }

                    @media(max-width: 700px) {
                        & {
                            height: 600px;
                        }
                    }

                    @media(max-width: 600px) {
                        & {
                            height: 500px;
                        }
                    }

                    @media(max-width: 500px) {
                        & {
                            height: 400px;
                        }
                    }

                    @media(max-width: 400px) {
                        & {
                            height: auto;
                        }
                    }
                }
            }

            blockquote.decoration {
                display: inline-block;
                margin-left: 0;
                padding-left: 40px;
                border-left: 3px solid #555;
            }
        }

        .song__refs {
            width: 100%;
            display: flex;

            .song__container {
                width: 80%;
                min-height: 200px;

                &.playlist {
                    min-height: 500px;

                    .song {
                        max-height: 500px;
                    }
                }

                .song {
                    max-height: 200px;
                    display: none;
                    margin: 0;
                    padding: 0;

                    iframe {
                        max-width: none !important;
                    }
                }

                .song.active {
                    display: block;
                }
            }

            .song__info {
                width: 20%;
                font-size: 40px;
                position: relative;
                cursor: pointer;
                
                .settings {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all .2s;
                }

                &:hover {

                    .settings {
                        left: 10%;
                        transform: translate(0, -50%);
                    }
                }
            }
        }

        .music-refs {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            opacity: 0;
            visibility: hidden;
            transition: all .3s;
            cursor: pointer;

            &.active {
                visibility: visible;
                opacity: 1;
            }

            .music-slider {
                position: absolute;
                top: 0;
                left: calc(2rem + 50px);
                width: 60px;
                height: 60px;
                border: 15px solid transparent;
                border-radius: 50%;
                background-color: #e2581d;
                background-clip: padding-box;
                transition: all .1s;
                box-shadow: inset 0px 3px 5px 3px hsla(0, 0%, 0%, 0.50);

                &.active {
                    transition: none;
                }
            }

            .refs {

                input {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }

                label {
                    display: inline-flex;
                    align-items: center;
                    padding-right: 0.5rem;
                    height: 60px;
                    cursor: pointer;

                    .svg {
                        height: 60px;
                        padding: 5px 1rem;
                    }
                    
                    &::after {
                        content: "";
                        display: inline-block;
                        width: 60px;
                        height: 100%;
                        border: solid #ffad00;
                        border-width: 0 12px;
                        background-color: #e2581d;
                        background-clip: padding-box;
                    }
                }

                .ref-item.first {
                    label::after {
                        border-width: 12px 12px 0 12px;
                        border-radius: 50% 50% 0 0;
                    }
                }

                .ref-item.last {
                    label::after {
                        border-width: 0 12px 12px 12px;
                        border-radius: 0 0 50% 50%;
                    }
                }

                .ref-item {
                    height: 60px;

                    path, circle {
                        filter: grayscale(100%)
                    }

                    &:hover, input:checked + label {
                        path, circle {
                            filter: none;
                        }
                    }

                    &.hidden {
                        display: none;
                    }
                }
            }
        }
    }
}