<button class="button filters">
    <div class="filter-cover">
        <span><i class="fas fa-filter"></i></span> Фильтр
    </div>
</button>
<div class="filter-items">
    <div class="filter-items__wrapper">
        <form action="" name="filters" method="GET">
            <div class="name">Фильтры</div>
            <div class="filter-control-buttons">
                <div class="list-button">
                    <div class="list-button-name">
                        <div>Исполнители</div>
                        <div class="list-button-name__icon"><i class="fas fa-caret-down"></i></div>
                    </div>
                    <div class="singers">
                        <!-- По согласованию -->
                        {% for singer_name in filter_singers %}
                            {% for name, count in singer_name.items %}
                                <label class="filter-item">
                                    <input type="checkbox" name="singers" value="{{ name }}"/>
                                    <div>{{ name }}<span>{{ count }}</span></div>
                                </label>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="filter-background"></div>