{% extends 'index.html' %}

{% block main_content %}
{% load music_refs %}
<div class="article">
    <h2 class="name">{{ article.name }}</h1>
    {% if article.song %}
        <div class="article-song song__data">
            <h3 class="song-name">{{ article.song.singer.name }} - {{ article.song.name }}</h3>
            {% if article.song.genre %}
                <h4 class="song-genre">Жанр - {{ article.song.genre }}</h4>
            {% endif %}
            <h4 class="song-release">Релиз - {{ article.song.date_release }}</h4>
        </div>
    {% endif %}
    <!--
    <div class="article-img">
        <img src="{{ article.image.url }}" alt="Обложка статьи">
    </div>
    -->
    {% for subdivision in article.subdivisions.all %}
        <div class="subdivision">
            {% if subdivision.song %}
                <div class="song__data">
                    <h3 class="song-name">{{ subdivision.song.singer.name }} - {{ subdivision.song.name }}</h3>
                    {% if subdivision.song.genre %}
                        <h4 class="song-genre">Жанр - {{ subdivision.song.genre }}</h4>
                    {% endif %}
                    {% if subdivision.song.date_release %}
                        <h4 class="song-release">Релиз - {{ subdivision.song.date_release }}</h4>
                    {% endif %}
                </div>
            {% elif subdivision.name %}
                <h3 class="subdivision-name">{{ subdivision.name }}</h3>
            {% endif %}
            {% for tb in subdivision.textblocks.all %}
                <div class="subdivision__item">
                    {% if tb.text_class == "center" %}
                        {% if tb.slider and tb.slider.images.exists %}
                            <div class="center">
                                {% if tb.slider.images.all|length > 1 %}
                                    <div class="img-cover slider">
                                        <div class="info">
                                            <span>1</span> из {{ tb.slider.images.all|length }}
                                        </div>
                                        <a class="prev"></a>
                                        <a class="next"></a>
                                        <div class="slider-cover">
                                            {% for image in tb.slider.images.all %}
                                                <img 
                                                    {% if forloop.first %}
                                                        class="active"
                                                    {% endif %} 
                                                    src="{{ image.image.url }}" 
                                                    alt="{{ tb.slider.name }} - {{ forloop.counter }}"
                                                >
                                            {% endfor %}
                                        </div>
                                        <div class="caption">{{ tb.slider.name }}</div>
                                    </div>
                                {% else %}
                                    <div class="img-cover">
                                        <img src="{{ tb.slider.images.0.image.url }}" alt="{{ tb.slider.name }}">
                                        <div class="caption">{{ tb.slider.name }}</div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        <p>
                            {% autoescape off %}
                                {{ tb.text|linebreaksbr }}
                            {% endautoescape %}
                        </p>
                    {% elif tb.text_class == "right" %}
                        {% if tb.slider and tb.slider.images.exists %}
                            <div class="center">
                                <div class="img-cover">
                                    {% if tb.slider.images.all|length == 1 %}
                                        <img src="{{ tb.slider.images.0.image.url }}" alt="{{ tb.slider.name }}">
                                    {% else %}
                                        {% for image in tb.slider.images.all %}
                                            <img src="{{ image.image.url }}" alt="{{ tb.slider.name }} - {{ forloop.counter }}">
                                        {% endfor %}
                                    {% endif %}
                                    <div class="caption">{{ tb.slider.name }}</div>
                                </div>
                            </div>
                        {% endif %}
                        <p>
                            {% autoescape off %}
                                {{ tb.text|linebreaksbr }}
                            {% endautoescape %}
                        </p>
                    {% else %}
                        {% if tb.slider and tb.slider.images.exists %}
                            <div class="center">
                                <div class="img-cover">
                                    {% if tb.slider.images.all|length == 1 %}
                                        <img src="{{ tb.slider.images.0.image.url }}" alt="{{ tb.slider.name }}">
                                    {% else %}
                                        {% for image in tb.slider.images.all %}
                                            <img src="{{ image.image.url }}" alt="{{ tb.slider.name }} - {{ forloop.counter }}">
                                        {% endfor %}
                                    {% endif %}
                                    <div class="caption">{{ tb.slider.name }}</div>
                                </div>
                            </div>
                        {% endif %}
                        <p>
                            {% autoescape off %}
                                {{ tb.text|linebreaksbr }}
                            {% endautoescape %}
                        </p>
                    {% endif %}
                </div>
            {% endfor %}
            {% if subdivision.song %}
                <div class="song__refs">
                    <div class="song__container">
                        {% music_refs vk=subdivision.song.ref_vk yandex=subdivision.song.ref_yandex spotify=subdivision.song.ref_spotify apple=subdivision.song.ref_apple subdivision=article.song.ref_youtube deezer=subdivision.song.ref_deezer as refs %}
                            {% for ref in refs %}
                                {% if ref.refvalue %}
                                    <div class="song" data-service="{{ ref.refkey }}">
                                        {% autoescape off %}{{ ref.refvalue }}{% endautoescape %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                    </div>
                    <div class="song__info">
                        <div class="settings">
                            <i class="fas fa-angle-double-right"></i>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        
    {% empty %}
        <span>Статья на стадии доработки</span>
    {% endfor %}

    {% if article.song %}
        <div class="song__refs">
            <!-- Адаптировать под обычные треки -->
            {% if article.song.is_album %}
                <div class="song__container playlist">
                    {% music_refs vk=article.song.ref_vk yandex=article.song.ref_yandex spotify=article.song.ref_spotify apple=article.song.ref_apple youtube=article.song.ref_youtube deezer=article.song.ref_deezer as refs %}
                        {% for ref in refs %}
                            {% if ref.refvalue %}
                                <div class="song" data-service="{{ ref.refkey }}">
                                    {% autoescape off %}{{ ref.refvalue }}{% endautoescape %}
                                </div>
                            {% endif %}
                        {% endfor %}
                </div>
            {% endif %}
            <div class="song__info">
                <div class="settings">
                    <i class="fas fa-angle-double-right"></i>
                </div>
            </div>
        </div>
    {% endif %}
    {% include 'articles/music_refs.html' %}
</div>
{% endblock %}