<footer>
    <div class="footer-top">
        <div class="footer-top-links">
            <div class="links-container">
                <a>{% include 'additions/icons/links/vk.html' %}</a>
                <a>{% include 'additions/icons/links/zen.html' %}</a>
            </div>
        </div>
    </div>
    <div class="footer-content">
        <div class="footer-content-top">
            <div class="footer-content-left">
                <div class="footer-buttons">
                    <a class="footer-button-item">Обо мне</a>
                    <a class="footer-button-item">Политика конфиденциальности</a>
                    <a class="footer-button-item mailing-button">Подписаться на рассылку</a>
                </div>
            </div>
            <div class="footer-content-right">
                <div class="footer-info">
                    <div class="text">Обратная связь</div>
                    <div class="info">
                        <a href="mailto:email@musicaldonut.ru">email@musicaldonut.ru</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content-bottom">
            <div class="text">© Musical Donut <span>2021</span></div>
        </div>
    </div>
</footer>