<footer>
    <div class="footer-content">
        <div class="footer-content-top">
            <div class="footer-content-left">
                <div class="footer-buttons">
                    <a>Обо мне</a>
                    <a>Политика конфиденциальности</a>
                    <a>Подписаться на рассылку</a>
                </div>
            </div>
            <div class="footer-content-right">
                <div class="footer-info">
                    <div class="text">Для связи</div>
                    <div class="info">email@musicaldonut.ru</div>
                </div>
            </div>
        </div>
        <div class="footer-content-bottom">
            <div class="text">© Musical Donut <span>2021</span></div>
        </div>
    </div>
</footer>