<header {% if section_target %}class="with-sections"{% endif %}>
    <div class="header-content">
        <div class="header-info">
            <a class="header-name" href="/">Musical Donut</a>
            <div class="search">
                <div class="search-form">
                    <form action="{% url 'search_articles' %}" method="get">
                        <span><i class="fa fa-search"></i></span>
                        <input type="search" placeholder="найти..." name="search">
                        <button type="submit">
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if section_target %}
        <div class="header-sections">
            <div class="header-sections__content">
                {% for section in sections %}
                <a class="section  
                    {% if section_target and section_target == section.name %}active{% endif %}" 
                    href="{% url 'section_page' section.name_for_url %}"
                >
                    <div class="section-name">{{ section.name }}</div>
                </a>
            {% endfor %}
            </div>
        </div>
    {% endif %}
</header>