{% extends 'index.html' %}

{% block content %}
<div class="content__search">
    {% for article in articles %}
        <div class="article-card">
            <div class="article-img">
                <img src="{{ article.image.url }}" alt="...">
            </div>
            <div class="article-cover">
                <div class="name">{{ article.name }}</div>
            </div>
        </div>
    {% empty %}
        <span>По вашему запросу ничего не найдено</span>
    {% endfor %}
</div>
{% endblock %}