{% extends 'index.html' %}

{% block content %}
<div id="content">
    <div class="content__first">
        <div class="last-article">
        {% if last_article %}
            <img src="" alt="Последняя статья">
            <div class="last-article__description">
                <div class="section">
                    {{ last_article.section.name }}
                </div>
                <div class="name">
                    {{ last_article.name }}
                </div>
            </div>
        {% else %}
            <span>Статьи скоро появятся</span>
        {% endif %}
        </div>
        <div class="musical-playlist"></div>
    </div>
    <div class="content__second">
    {% if articles %}
        {% for article in articles %}
            <div class="article-cover">
                <img src="{{ article.image }}" alt="...">
                <div class="article-section">{{ article.section.name }}</div>
                <div class="article-name">{{ article.name }}</div>
            </div>
        {% endfor %}
    {% else %}
        <span>Статьи скоро появятся</span>
    {% endif %}
    </div>
</div>
{% endblock %}