{% extends 'index.html' %}

{% block main_content %}
<div class="content__first">
    <div class="content-header">
        <div class="content-header-text-top">
            <div class="text">
                <div class="text-left">
                    <div class="word-1">Авторский</div>
                    <div class="word-2">блог</div>
                </div>
                <div class="text-right">
                    <div class="word-1">про</div>
                    <div class="word-2">музыку</div>
                </div>
            </div>
        </div>
        <div class="content-header-background">
            <img src="media/site/background.webp" alt="Фон шапки">
        </div>
        <div class="content-header-text-bottom">
            <div class="content-header-text-bottom__container">
                <div class="search-button">
                    <a class="search-button-link">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
                <div class="header-sections">
                    <div class="header-sections__content">
                        {% for section in sections %}
                        <a class="section  
                            {% if section_target and section_target == section.name %}active{% endif %}" 
                            href="{% url 'section_page' section.name_for_url %}"
                        >
                            <div class="section-name">{{ section.name }}</div>
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Последняя публикация</h2>
    {% include 'articles/article_cards.html' with articles=last_article cover_section="1" card_classes="last-article" %}
    
    <div class="musical-playlist"></div>
</div>
<div class="content__second">
    <div class="content__above-articles">
        <div class="content__articles-name">
            <h2>Все статьи</h2>
        </div>
        <div class="control-buttons">
            <div class="button-sorting">
                {% include 'additions/sorting.html' with sorting_key=sorting_key|default:"date_desc" sorting_value=sorting_value|default:"Дата по убыванию" %}
            </div>
            <div class="button-filters">
                {% include 'additions/filters.html' with filter_singers=filter_singers %}
            </div>
        </div>
        <div class="selected-filters"></div>
    </div>
    <div class="content__articles">
        {% include 'articles/article_cards.html' with articles=articles cover_section="1" %}
    </div>
</div>
{% endblock %}