<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% load sass_tags %}

        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        <link type="text/css" rel="stylesheet" href="{% sass_src 'css/style.scss' %}">
        {% comment %} <script src="https://kit.fontawesome.com/3617029c5c.js" crossorigin="anonymous"></script> {% endcomment %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
        <script src="{% static 'bundles/main.bundle.js' %}"></script>
        <title>
            {% block title %}
                Musical Donut
            {% endblock %}
        </title>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            {% block header_including %}
                {% if section_target %}
                    {% include 'main/header.html' with section_target=section_target %}
                {% else %}
                    {% include 'main/header.html' %}
                {% endif %}
            {% endblock header_including %}

            <div id="content">
                {% block main_content %}{% endblock %}
            </div>

            {% include 'main/footer.html' %}
            {% include 'additions/preloader.html' %}
        </div>
    </body>
</html>